@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#header-container {
  background-color: rgb(253, 4, 178);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#icon {
  font-size: 3rem;
  color: #ffff;
  margin: 0 0 0 1vw;
}
#nav-bar > ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
  color: #ffff;
  text-transform: capitalize;
  font-size: 1.1rem;
}
#nav-bar > ul > li:hover {
  cursor: pointer;
}
#button-login > button {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin: 0 1vw 0 0;
  color: #ffff;
  text-decoration: underline;
}
#show-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6.25rem;
  flex-wrap: wrap;
  list-style: none;
}
#card {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #2e313850;
  width: 15rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
#card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.img {
  width: 100%;
  border: 1px solid rgb(253, 4, 178);
  border-radius: 0.5rem;
}
#content-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: aliceblue;
  width: 15rem;
  height: fit-content;
  position: relative;
  bottom: 5rem;
  border-left: 1px solid rgb(253, 4, 178);
  border-bottom: 1px solid rgb(253, 4, 178);
  border-right: 1px solid rgb(253, 4, 178);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding: 0.1rem 0rem 0.2rem 0rem;
  box-shadow: 0px 3px 3px #2e313850;
}
#main-info > h2 {
  font-size: 1rem;
  color: #2e3138;
}
#main-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.txt {
  font-size: 0.75rem;
  color: #7b8084;
}
/* #rate-and-review{
    display: flex;
} */
.cook-time-and-rating-container {
  display: flex;
  justify-content: space-between;
  /* gap: 3px; */
  align-items: center;
}
.icon {
  font-size: 1rem;
  color: #7b8084;
}
.star {
  color: orange;
}
.cook-time {
  display: flex;
  align-items: center;
  gap: 3px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 3px;
}

/* filter styling  */
#container-for-filters {
  display: flex;
  gap: 1rem;
}

#filter-difficulty-container {
  appearance: none;
  background: url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/svgs/solid/filter.svg")
    no-repeat 0.5rem center;
  background-size: 1rem 1rem;
  padding-left: 2rem;
  font-size: 1rem;
}
.border-dropdown:focus {
  border: 1px solid rgb(253, 4, 178);
  outline: none;
}
#filter-cuisine-container {
  appearance: none;
  background: url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/svgs/solid/filter.svg")
    no-repeat 0.5rem center;
  background-size: 1rem 1rem;
  padding-left: 2rem;
  font-size: 1rem;
}

#parent-options {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#search {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
#searchBar {
  width: 15rem;
  height: 1.6rem;
  padding: 0.5rem;
  border: #7b8084 1px solid;
}
#searchBar:focus {
  border: 1px solid rgb(253, 4, 178);
  outline: none;
  transition: 0.3s ease-in;
}

/* login btn styling  */
#button-login > button:hover {
  cursor: pointer;
}
